*{
    border :0px;
    margin :0px;
    font-size:100%;
    font : inherit;
    font-family: "Lexend", sans-serif;
}


.top {
    
}

.btns {
    padding: 40px;
    display: flex;
    justify-content: left;
}

.btns button {
    width: 200px;
    height: 50px;
    border: none;
    background: none;
    font-size: 25px;
    color: rgb(69,69,69);
}



.btns__changed {
    cursor: pointer;
    color: black !important; 
    font-size: 26px !important;
}

.me img {
    width: 450px;
    height: auto;
    padding: 100px;
    border-radius: 150px;
}

.me {
    display: flex;
    justify-content: space-around;
}

.me h1 {
    padding: 200px;
    font-size: 20px;
}

.education {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 40px;
}

.education h1 {
    font-size: 40px;
    align-self: center;
}

.education h2 {
    font-size: 30px;
    padding: 20px;
}


.education h3 {
    font-size: 18px;
    padding: 18px;
}


  
.skills h1 {
    font-size: 38px;
    display: flex;
    justify-content: center;
}

.skills__btn {
    display: flex;
}

.skills__btn button {
    font-size: 29px;
    border-radius: 10px;
    padding: 30px;
    margin: 70px;
}

.projects h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.projects h2 {
    font-size: 25px;
    margin: 20px 20px 20px 70px;
}

.projects a {
    font-size: 25px;
    margin: 20px 25px 20px 70px;
    text-decoration: none;
    display: flex;
    color: rgb(69,69,69);
}

.projects a:hover {
    color: black;
}

.bottom {
    background-color: black;
    padding: 50px;
    margin-top: 50px;
}

.bottom__text a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

